<footer class="footer text-light pt-3">
  <div class="container bg-primary p-3">
      <div class="row align-items-center justify-content-between p-3 my-3">
          
          <div class="col-lg-4 col-md-12 col-12 text-center text-lg-start mb-4 mb-lg-0 fw-bold">
              <p style="font-family: 'Roboto Slab', serif; font-weight: bold;">ethiobinamertrading@gmail.com</p>
              <p style="font-family: 'Roboto Slab', serif; font-weight: bold;">rohacoffee@gmail.com</p>
              <p style="font-family: 'Roboto Slab', serif; font-weight: bold;">Phone: +251 911 223586 / 950330</p>
              <p style="font-family: 'Roboto Slab', serif; font-weight: bold;">Fax  : +251 114 701479</p>
              <p style="font-family: 'Roboto Slab', serif; font-weight: bold;">P.O. Box: 1575/1110 Addis Ababa, Ethiopia</p>
          </div>
          
          <div class="col-lg-4 col-md-12 col-12 mb-lg-0 mb-4 text-center">
              <div class="copyright">
                  <p class="fw-bold" style="font-family: 'Roboto Slab', serif; font-weight: bold;">© <script>
                      document.write(new Date().getFullYear())
                  </script>, Ethio Binamer. All Rights Reserved</p>
              </div>
          </div>
          
          <div class="col-lg-4 col-md-12 col-12 text-center">
              <ul class="nav nav-footer justify-content-center">
                  <li class="nav-item">
                      <a href="#" class="nav-link text-white" target="_blank" style="font-size: 20px;"><i class="bi bi-facebook"></i></a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link text-white" target="_blank" style="font-size: 20px;"><i class="bi bi-twitter-x"></i></a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link text-white" target="_blank" style="font-size: 20px;"><i class="bi bi-whatsapp"></i></a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</footer>

