{% extends 'Portal/index.html' %}
{% load static %}

{% block main %}
<div class="row">
    <div class="col-12 col-lg-8 mx-auto">
        <div class="card shadow">
            <div class="card-body">
                <div class="multisteps-form">
                    <!-- Progress bar -->
                    <div class="row">
                        <div class="col-12 col-lg-8 mx-auto my-4">
                            <div class="multisteps-form__progress">
                                <button class="multisteps-form__progress-btn js-active" type="button" title="Service Info">
                                    <span>1. Service Info</span>
                                </button>
                                <button class="multisteps-form__progress-btn" type="button" title="Finish">2. Finish</button>
                            </div>
                        </div>
                    </div>
                    <!-- Form panels -->
                    <form class="multisteps-form__form mb-8" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Service Information Panel -->
                        <div class="card multisteps-form__panel p-3 border-radius-xl bg-white js-active" data-animation="FadeIn">
                            <h5 class="font-weight-bolder">Service Information</h5>
                            <div class="multisteps-form__content">
                                <div class="row mt-3">
                                    <div class="col-12 col-sm-6">
                                        <label class="form-label">Title</label>
                                        <input class="form-control" type="text" placeholder="Service Title" name="title" required />
                                        {% if errors.title %}
                                            <small class="text-danger">{{ errors.title }}</small>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                        <label class="form-label">Icon</label>
                                        <input class="form-control" type="file" placeholder="Icon (e.g., fa-star)" name="icon" />
                                        {% if errors.icon %}
                                            <small class="text-danger">{{ errors.icon }}</small>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <label class="form-label">Description</label>
                                        <textarea class="form-control" placeholder="Enter service description" name="description" rows="4" required></textarea>
                                        {% if errors.description %}
                                            <small class="text-danger">{{ errors.description }}</small>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <label class="form-label">Image</label>
                                        <input class="form-control" type="file" name="image" />
                                        {% if errors.image %}
                                            <small class="text-danger">{{ errors.image }}</small>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="button-row d-flex mt-4">
                                    <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button" title="Next">Next</button>
                                </div>
                            </div>
                        </div>
                        <!-- Finish Panel -->
                        <div class="card multisteps-form__panel p-3 border-radius-xl bg-white" data-animation="FadeIn">
                            <h5 class="font-weight-bolder">Finish</h5>
                            <div class="multisteps-form__content mt-3">
                                <div class="row mt-4">
                                    <div class="col-12">
                                        <p class="font-weight-bold">Review your information and click "Submit" to create the new service.</p>
                                    </div>
                                </div>
                                <div class="button-row d-flex mt-4">
                                    <button class="btn bg-gradient-secondary mb-0 js-btn-prev" type="button" title="Prev">Prev</button>
                                    <button class="btn bg-gradient-dark ms-auto mb-0" type="submit" title="Submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
