{% extends 'Website/index.html' %}

{% load static %}

{% block body %}

<section class="import-section position-relative" style="
    margin-bottom: 4rem;
    background-image: url('{% static 'assets/img/tires.png' %}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    color: #fff;
    text-align: center;
    position: relative;">

  <!-- Apply a filter to blur and lighten the background -->
  <div class="overlay" style=" position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:rgba(238, 253, 242, 0.77); /* Lighten the background */">
  </div>

  <div class="container import-content" style="position: relative; z-index: 1;">

    <h1 style="color:#1D1D35; font-size: 2.5rem; font-weight: bold; margin-bottom: 20px;">
      TIRES
    </h1>
  </div>
</section>

<div class="container mt-5 mb-5" style="margin-bottom: 4rem; padding: 0;">
  <div class="row card-container d-flex flex-wrap">
    <div class="col-md-8">
      <div class="row" style="margin-right: 3rem;">
        <div class="col-md-6 d-flex">
          <img src="{% static 'assets/img/tire_detail.png' %}" class="img-fluid mb-4"
            style="margin-right: 4rem; border-radius: 12px;">

        </div>
        <div class="col-md-6">
          <div class="mt-3">
            <h3>Carlisle Farm Specialist R-1 Agricultural Tire</h3>
            <p>Lithuania, Kirtimu street 17A, Vilnius</p>
            <p>We source premium Arabica beans from the renowned regions of Guji to Kaffa, ensuring each cup embodies
              the rich, diverse flavors of their origin.</p>
            <div class="row">
              <button class="btn btn-success btn-custom" style="background-color: #fff; border: 1px solid #008000; color: #008000;">Ask For Price</button>
              <button class="btn btn-success btn-custom" style="background-color: #1D6F3F;">Contact Now</button>
            </div>
            <p class="mt-2 text-muted">
              2019 Iveco EUROCARGO 120-210 4x2 Skip Loader Lorry, Extendable Arms, 360 Camera, Manual Gearbox - PE19 AVR
              - ZCFGA1EFX02691277
            </p>
          </div>

        </div>

      </div>
      <div class="row">
        <section class="container my-5" style="margin-bottom: 50px;">


          <div id="carousel" class="carousel slide" data-bs-ride="carousel" style="width: 80%;">
            <div class="carousel-inner">

              <div class="carousel-item active">
                <div class="row">
                  <div class="col-3">
                    <div class="card">
                      <img src="{% static 'assets/img/tire_detail.png' %}" class="card-img-top" alt="Image 1">
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card">
                      <img src="{% static 'assets/img/tire_detail.png' %}" class="card-img-top" alt="Image 2">
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card">
                      <img src="{% static 'assets/img/tire_detail.png' %}" class="card-img-top" alt="Image 3">
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card">
                      <img src="{% static 'assets/img/tire_detail.png' %}" class="card-img-top" alt="Image 4">
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#categoryCarousel" data-bs-slide="prev"
              style="position: absolute; top: 50%; transform: translateY(-50%); font-size: 2rem; color: #1D1D35; background: transparent; border: none; left: -90px; z-index: 1;">
              <span class="bi bi-chevron-left" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#categoryCarousel" data-bs-slide="next"
              style="position: absolute; top: 50%; transform: translateY(-50%); font-size: 2rem; color: #1D1D35; background: transparent; border: none; right: -90px; z-index: 1;">
              <span class="bi bi-chevron-right" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </section>
      </div>

    </div>
    <!--the right most container  -->
    <div class="col-lg-4">
        <div class="row bg-light p-3 m-3">
          <div class="col-lg-12 text-sm text-dark">
            <div class="row">
              <div class="row" style="flex: 1;">
                <strong>Brand</strong>
              </div>
              <div class="row text-end text-sm" style="flex: 2;">
                <p>Carlisle</p>
              </div>
            </div>
            <div class="row">
              <div class="row" style="flex: 1;">
                <strong>Tire Size</strong>
              </div>
              <div class="row text-end text-sm" style="flex: 2;">
                <p>7-16</p>
              </div>
            </div>

            <div class="row">
              <div class="row" style="flex: 2;">
                <strong>Tire Type</strong>
              </div>
              <div class="row text-end text-sm" style="flex: 1;">
                <p>Farm & Industrial 
                    Tires</p>
              </div>
            </div>
            <div class="row">
              <div class="row" style="flex: 1;">
                <strong>Vehicle Type</strong>
              </div>
              <div class="row text-end text-sm" style="flex: 2;">
                <p>Tractor</p>
              </div>
            </div>
            <div class="row">
              <div class="row" style="flex: 1;">
                <strong>Wheel Diameter</strong>
              </div>
              <div class="row text-end text-sm" style="flex: 2;">
                <p>16 in</p>
              </div>
            </div>
            <div class="row">
              <div class="row" style="flex: 1;">
                <strong>Weight</strong>
              </div>
              <div class="row text-end text-sm" style="flex: 2;">
                <p>10.01 lb</p>
              </div>
            </div>
            <div class="row">
              <div class="row" style="flex: 1;">
                <strong>Warranty:</strong>
              </div>
              <div class="row text-end text-sm" style="flex: 2;">
                <p>1-2 years</p>
              </div>
            </div>
            <div class="row">
              <div class="row" style="flex: 2;">
                <button class="btn btn-primary w-100">Download Vehicle Specification</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="container my-5" style="padding: 20px;">
  <div class="row">
    <div class="col-md-6">
      <h3>Contact The Seller</h3>
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Your Name or Company Name</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Your Email</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Your Phone Number</label>
          <input type="tel" class="form-control" id="phone">
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Your Message</label>
          <textarea class="form-control" id="message" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-success w-100">Send Message</button>
      </form>
    </div>

    <div class="col-md-6">
      <div class="card p-3" style="background-color: #EEFDF2;">
        <h4 style="text-align: center;">Need Assistance?</h4>
        <div style="display: flex; align-items: center;">
          <div>
            <p style="color: #1D1D35;">Our company's Sales Advisor is ready to answer your questions in your own
              language</p>
            <p style="color: #1D6F3F;"><strong>Gelila Million</strong><br>+251 911 122334</p>
          </div>
          <img src="{% static 'assets/img/gellila.png' %}" alt="Sales Advisor" class="img-fluid mb-3"
            style="max-width: 150px; margin-right: 20px; border-radius: 5px;">

        </div>
        <div style="display: flex; gap: 10px;">
          <button class="btn btn-outline-success" style="width: 100%;">Call</button>
          <button class="btn btn-outline-success" style="width: 100%;">Message</button>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}