<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl z-index-sticky" id="navbarBlur" data-scroll="false">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm">
            <a class="text-white" href="#">
              <i class="ni ni-box-2"></i>
            </a>
          </li>
          {% if request.path == '/customer_requests/' or request.path == '/customer_requests/create/' or request.path == '/customer_requests/update/' or request.path == '/customer_requests/delete/' %}
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Customer Requests</li>
          {% elif request.path == '/user/list/' or request.path == '/user/create/' or request.path == '/user/update/' or request.path == '/user/delete/' %}
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Users</li>
          {% elif request.path == '/settings/' %}
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Settings</li>
          {% elif request.path == '/customer/' or request.path == '/customer/create/' or request.path == '/customer/update/' or request.path == '/customer/delete/' %}
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Customers</li>
          {% elif request.path == '/eggs/' or request.path == '/eggs/create/' or request.path == '/eggs/update/' or request.path == '/eggs/delete/' %}
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Eggs</li>
          {% elif request.path == '/breeders/' or request.path == '/breeders/create/' or request.path == '/breeders/update/' or request.path == '/breeders/delete/' %}
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Breeders</li>
          {% elif request.path == '/breed/' or request.path == '/breed/create/' or request.path == '/breed/update/' or request.path == '/breed/delete/' %}
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Breeds</li>
          {% elif request.path == '/hatcheries/' or request.path == '/hatcheries/create/' or request.path == '/hatcheries/update/' or request.path == '/hatcheries/delete/' %}
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Hatcheries</li>
          {% elif request.path == '/incubators/' or request.path == '/incubators/create/' or request.path == '/incubators/update/' or request.path == '/incubators/delete/' %}
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Incubators</li>
          {% elif request.path == '/incubator_capacities/' or request.path == '/incubator_capacities/create/' or request.path == '/incubator_capacities/update/' or request.path == '/incubator_capacities/delete/' %}
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Incubator Capacities</li>
          {% elif request.path == '/human_resource/' or request.path == '/human_resource/employees/' or request.path == '/human_resource/update/' or request.path == '/human_resource/delete/' %}
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Human Resource</li>
          {% else %}
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Dashboard</li>
          {% endif %}
        </ol>
        <h6 class="font-weight-bolder mb-0 text-white">
          {% if request.path == '/customer_requests/' or request.path == '/customer_requests/create/' or request.path == '/customer_requests/update/' or request.path == '/customer_requests/delete/' %}
            Customer Requests
          {% elif request.path == '/user/list/' or request.path == '/create_user/' or request.path == '/user/update/' or request.path == '/user/delete/' %}
            Users
          {% elif request.path == '/settings/' %}
            Settings
          {% elif request.path == '/human_resource/' or request.path == '/human_resource/employees/' or request.path == '/human_resource/update/' or request.path == '/human_resource/delete/' %}
            Human Resource
          {% elif request.path == '/customer/' or request.path == '/customer/create/' or request.path == '/customer/update/' or request.path == '/customer/delete/' %}
            Customers
          {% elif request.path == '/eggs/' or request.path == '/eggs/create/' or request.path == '/eggs/update/' or request.path == '/eggs/delete/' %}
            Eggs
          {% elif request.path == '/breeders/' or request.path == '/breeders/create/' or request.path == '/breeders/update/' or request.path == '/breeders/delete/' %}
            Breeders
          {% elif request.path == '/breed/' or request.path == '/breed/create/' or request.path == '/breeds/update/' or request.path == '/breeds/delete/' %}
            Breeds
          {% elif request.path == '/hatcheries/' or request.path == '/hatcheries/create/' or request.path == '/hatcheries/update/' or request.path == '/hatcheries/delete/' %}
            Hatcheries
          {% elif request.path == '/incubators/' or request.path == '/incubators/create/' or request.path == '/incubators/update/' or request.path == '/incubators/delete/' %}
            Incubators
          {% elif request.path == '/incubator_capacities/' or request.path == '/incubator_capacities/create/' or request.path == '/incubator_capacities/update/' or request.path == '/incubator_capacities/delete/' %}
            Incubator Capacities
          {% else %}
            Dashboard
          {% endif %}
        </h6>
      </nav>
      <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none">
        <a href="javascript:;" class="nav-link p-0">
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line bg-white"></i>
            <i class="sidenav-toggler-line bg-white"></i>
            <i class="sidenav-toggler-line bg-white"></i>
          </div>
        </a>
      </div>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          
        </div>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item d-flex align-items-center">
            {% if request.user.is_authenticated %}
              <a class="nav-link text-white font-weight-bold px-0">
                <span class="d-sm-inline d-none">{{ request.user.username }}</span>
              </a>
              <div class="dropdown">
                <a href="#" class="nav-link text-white p-0 dropdown-toggle" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-user me-sm-1" style="padding: 0.25rem;"></i>  <!-- Reduced padding -->
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                  <li><a class="dropdown-item" href="#">Account</a></li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
              </div>
            {% else %}
              <a href="#" class="nav-link text-white font-weight-bold px-0" target="_blank">
                <i class="fa fa-sign-in me-sm-1"></i>
                <span class="d-sm-inline d-none">Sign In</span>
              </a>
            {% endif %}
          </li>
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line bg-white"></i>
                <i class="sidenav-toggler-line bg-white"></i>
                <i class="sidenav-toggler-line bg-white"></i>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  