{% load static %}

<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4" id="sidenav-main">

    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>

        <a class="navbar-brand m-0" href="#">
            <img src="{% static 'assets/img/main-logo.png' %}" class="navbar-brand-img h-100" alt="main_logo">
            <span class="ms-1 font-weight-bold">Ethio Binamer PLC</span>
        </a>
    </div>

    <hr class="horizontal dark mt-0">


    <style>
        .nav-link.active {
            font-weight: bold; /* Makes the active link bold */
            background-color: #e0ffe0; /* Light green background for the active link */
            color: #005500 !important; /* Dark green text color */
            border-left: 4px solid #28a745; /* Add a green border on the left */
        }
        .collapsible-sidenav.show {
            display: block !important;
        }
    </style>
    
    <div class="collapse navbar-collapse w-auto h-auto" id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <!-- Dashboard is always visible -->
            <li class="nav-item">
                <a href="#" class="nav-link {% if request.path == '/dashboard/' %}active{% endif %}">
                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-table-columns text-success text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'service_list' %}" class="nav-link {% if request.path == '/accounts/user/list/' %}active{% endif %}">
                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-table-columns text-success text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Services</span>
                </a>
            </li>
        
            {% comment %} <li class="nav-item">
                <a data-bs-toggle="collapse" href="#hrPages" class="nav-link {% if request.path == '/human_resource/employees/' or request.path == '/human_resource/departments/' %}active{% endif %}" aria-controls="hrPages" role="button" aria-expanded="{% if request.path == '/human_resource/employees/' or request.path == '/human_resource/departments/' %}true{% else %}false{% endif %}">
                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-user-tie text-success text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Human Resource</span>
                </a>
                <div class="collapse collapsible-sidenav {% if request.path == '/human_resource/employees/' or request.path == 'human_resource/departments/' %}show{% endif %}" id="hrPages">
                    <ul class="nav ms-4">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/human_resource/employees/' %}active{% endif %}" href="#">
                                <span class="sidenav-mini-icon"> E </span>
                                <span class="sidenav-normal"> Employees <b class="caret"></b></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/human_resource/departments/' %}active{% endif %}" href="#">
                                <span class="sidenav-mini-icon"> D </span>
                                <span class="sidenav-normal"> Departments <b class="caret"></b></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li> {% endcomment %}
        
            <!-- Poultry Section -->
            {% comment %} <li class="nav-item">
                <a data-bs-toggle="collapse" href="#poultryPages" class="nav-link {% if request.path == '/breed/' or request.path == '/breeders/' %}active{% endif %}" aria-controls="poultryPages" role="button" aria-expanded="false">
                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                        <i class="ni ni-ungroup text-success text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Poultry</span>
                </a>
                <div class="collapse collapsible-sidenav" id="poultryPages">
                    <ul class="nav ms-4">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/breed/' %}active{% endif %}" href="#">
                                <span class="sidenav-mini-icon"> B </span>
                                <span class="sidenav-normal"> Breed <b class="caret"></b></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/breeders/' %}active{% endif %}" href="#">
                                <span class="sidenav-mini-icon"> Br </span>
                                <span class="sidenav-normal"> Breeders <b class="caret"></b></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li> {% endcomment %}
        
            <!-- Hatchery Section -->
            {% comment %} <li class="nav-item">
                <a data-bs-toggle="collapse" href="#hatcheryPages" class="nav-link {% if request.path == '/hatchery/' or request.path == '/egg-settings/' or request.path == '/incubations/' or request.path == '/candlings/' or request.path == '/hatchings/' %}active{% endif %}" aria-controls="hatcheryPages" role="button" aria-expanded="false">
                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-warehouse text-success text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Hatchery</span>
                </a>
                <div class="collapse collapsible-sidenav" id="hatcheryPages">
                    <ul class="nav ms-4">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/hatchery/' %}active{% endif %}" href="#">
                                <span class="sidenav-mini-icon"> B </span>
                                <span class="sidenav-normal"> Hatchery <b class="caret"></b></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/egg-settings/' %}active{% endif %}" href="#">
                                <span class="sidenav-mini-icon"> ES </span>
                                <span class="sidenav-normal"> Egg Setting <b class="caret"></b></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/incubations/' %}active{% endif %}" href="#">
                                <span class="sidenav-mini-icon"> IB </span>
                                <span class="sidenav-normal"> Incubation <b class="caret"></b></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/candlings/' %}active{% endif %}" href="#">
                                <span class="sidenav-mini-icon"> CA </span>
                                <span class="sidenav-normal"> Candlings <b class="caret"></b></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/hatchings/' %}active{% endif %}" href="#">
                                <span class="sidenav-mini-icon"> HT </span>
                                <span class="sidenav-normal"> Hatchings <b class="caret"></b></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li> {% endcomment %}
        
            <!-- Inventory Section -->
            {% comment %} <li class="nav-item">
                <a data-bs-toggle="collapse" href="#inventoryPages" class="nav-link {% if request.path == '/items/' or request.path == '/item/request/list/' or request.path == '/item-type/' or request.path == '/customer/' or request.path == '/chicks/' or request.path == '/eggs/' or request.path == '/incubator/' %}active{% endif %}" aria-controls="inventoryPages" role="button" aria-expanded="false">
                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-boxes-stacked text-success text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Inventory</span>
                </a>
                <div class="collapse collapsible-sidenav" id="inventoryPages">
                    <ul class="nav ms-4">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/items/' %}active{% endif %}" href="#">
                                <span class="sidenav-mini-icon"> IM </span>
                                <span class="sidenav-normal"> Items <b class="caret"></b></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/item/request/list/' %}active{% endif %}" href="#">
                                <span class="sidenav-mini-icon"> IR </span>
                                <span class="sidenav-normal"> Items Request <b class="caret"></b></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/item-type/' %}active{% endif %}" href="#">
                                <span class="sidenav-mini-icon"> IT </span>
                                <span class="sidenav-normal"> Item Types <b class="caret"></b></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/customer/' %}active{% endif %}" href="#">
                                <span class="sidenav-mini-icon"> C </span>
                                <span class="sidenav-normal"> Customers <b class="caret"></b></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/chicks/' %}active{% endif %}" href="#">
                                <span class="sidenav-mini-icon"> C </span>
                                <span class="sidenav-normal"> Chicks <b class="caret"></b></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/eggs/' %}active{% endif %}" href="#">
                                <span class="sidenav-mini-icon"> E </span>
                                <span class="sidenav-normal"> Eggs <b class="caret"></b></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/incubator/' %}active{% endif %}" href="#">
                                <span class="sidenav-mini-icon"> B </span>
                                <span class="sidenav-normal"> Incubator <b class="caret"></b></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li> {% endcomment %}
        
            {% comment %} <li class="nav-item">
                <a href="#" class="nav-link {% if request.path == '/tracker/list/' %}active{% endif %}">
                    <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                        <i class="fa fa-chart-column text-success text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Tracker</span>
                </a>
            </li> {% endcomment %}
        </ul>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const sidenavs = document.querySelectorAll('.collapsible-sidenav');
            
            sidenavs.forEach(function (sidenav) {
                const collapseKey = `${sidenav.id}_collapseState`; 
    
                if (localStorage.getItem(collapseKey) === 'open') {
                    sidenav.classList.add('show');
                }
    
                sidenav.addEventListener('shown.bs.collapse', function () {
                    localStorage.setItem(collapseKey, 'open');
                });
    
                sidenav.addEventListener('hidden.bs.collapse', function () {
                    localStorage.setItem(collapseKey, 'closed');
                });
            });
        });
    </script>
    
    
</aside>